// https://niri-wm.github.io/niri/Configuration:-Introduction

input { // https://niri-wm.github.io/niri/Configuration:-Input
    keyboard {
        xkb {
          layout "de"
          variant "nodeadkeys"
        }
        numlock // at startup
    }
    touchpad {
        tap
        natural-scroll
        // scroll-method "two-finger"
    }
    mouse {
    }
    trackpoint {
    }

    // warp-mouse-to-focus
    // focus-follows-mouse max-scroll-amount="0%"
    workspace-auto-back-and-forth

}

// https://niri-wm.github.io/niri/Configuration:-Outputs
/-output "eDP-1" {
    // off
    // The format is "<width>x<height>" or "<width>x<height>@<refresh rate>".
    // Run `niri msg outputs` while inside a niri instance to list all outputs and their modes.
    mode "1920x1080@120.030"
    position x=1280 y=0
}

// https://niri-wm.github.io/niri/Configuration:-Layout
layout {
    center-focused-column "never"
    default-column-width { proportion 0.5; }
    preset-column-widths { // used in (Mod+R) switch-preset-column-width
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    // preset-window-heights { } // switch-preset-window-height (Mod+Ctrl+Shift+R)

    // struts { // gaps on side allowing other windows
    //     left 12
    //     right 12
    // }

    // Design
    gaps 6 // logical pixels.
    focus-ring {
        width 3
        active-color "#7fc8ff"
        inactive-color "#505050"
    }
    border { // alternative to focus ring, always visible
        off
    
        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000" // Color of the border around windows that request your attention.
    }
}

// spawn-at-startup "waybar"
spawn-at-startup "quickshell"
spawn-at-startup "nixos" "check"
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell" // shell command (variables, pipes, ...)

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png" // strftime(3)

animations { // https://niri-wm.github.io/niri/Configuration:-Animations
    // slowdown 3.0
}

//// Window Rules     (https://niri-wm.github.io/niri/Configuration:-Window-Rules)
window-rule { // firefox pircture-in-picture floating
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}
window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
}

binds {
    // miscellanious
    Mod+H { show-hotkey-overlay; }
    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }
    Super+Alt+L hotkey-overlay-title="Lock the Screen" { spawn "hyprlock"; }
    Mod+E hotkey-overlay-title="Power Menu" {spawn "qs" "ipc" "call" "powerMenu" "toggle"; }

    Super+V hotkey-overlay-title="Clipboard History" { spawn "bash" "-c" "cliphist list | fuzzel --dmenu --width 80 | cliphist decode | wl-copy"; }
    // launch
    Mod+T hotkey-overlay-title="Termianl" { spawn "kitty"; }
    Mod+D hotkey-overlay-title="Launcher" { spawn "rofi" "-show" "drun"; }

    // default stuff
    Super+Alt+S allow-when-locked=true hotkey-overlay-title="Screenreader" { spawn-sh "pkill orca || exec orca"; }

    //// special keys
    // volume
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 1.0"; } // "-l 1.0" limits volume to 100%.
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    // media
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }
    // brightness
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    //// Arrows
    // focus
    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-or-workspace-down; }
    Mod+Up    { focus-window-or-workspace-up; }
    Mod+Right { focus-column-right; }
    // move
    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+Up    { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+Right { move-column-right; }
    
    //// Home, End
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    //// between Monitors
    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; } // alternative: move-window/workspace-...
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }
  
    //// between workspaces
    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    // move column
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }
    // swap workspaces
    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }
    // with mouse wheel
    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }
    // side scroll
    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }
    // shift side scroll
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }
    // touchpad
    // Mod+TouchpadScrollDown { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }
    // Mod+TouchpadScrollUp   { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }

    // closest from existing dynamic workspace
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }
    // Mod+Tab { focus-workspace-previous; }

    //// columns
    Mod+K { consume-or-expel-window-left; }
    Mod+L { consume-or-expel-window-right; }
    // column: consume expel
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }
    // width
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-column-width-back; }
    // height
    Mod+Ctrl+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    // maximize
    Mod+M { maximize-column; } // alternative: maximize-window-to-edges
    Mod+Shift+M { fullscreen-window; }
    Mod+Ctrl+M { expand-column-to-available-width; }
    // center
    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }
    // fine grained width
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    // fine grained height
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    // floating
    Mod+F       { toggle-window-floating; }
    Mod+Shift+F { switch-focus-between-floating-and-tiling; }
    // tabbed
    Mod+W { toggle-column-tabbed-display; }

    // // keyboard layount
    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Shift+E { quit; } // quit niri dialog
    Ctrl+Alt+Delete { quit; }
    Mod+Shift+P { power-off-monitors; }
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}